body {
    margin: 0;
    padding: 0;
    background: url(/assets/img/bg/bg_web1.webp) no-repeat;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.confirmPasswordBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 250px;
    background: #000000;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #ffcf0f;
    text-align: center;
}

.confirmPasswordBox input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.confirmPasswordBox input[type="password"]:hover {
    color: #ffd21f;
    border: 1px solid #ffd21f;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black;
}

.confirmPasswordBox input[type="password"]:focus {
    border-bottom: 2px solid #fbbc4d;
}

.confirmPasswordBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #ffcf0f;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.success-msg {
    font-weight: bold;
    color: #006400; 
    margin-bottom: 20px;
    padding:5px;
    border-radius: 2px; 
    text-align: center;
    margin-bottom: 10px;
}

.error-msg {
    color: #ff0000; 
    margin-bottom: 20px; 
    padding: 5px; 
    border-radius: 2px; 
    text-align: center;
    margin-bottom: 10px; 
}
.confirmPasswordBox input[type="submit"] {
    background-color: transparent;
    color: #ffd700; /* Màu vàng */
    border: 2px solid #ffd700; /* Viền màu vàng */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu trong 0.3s */
}

.confirmPasswordBox input[type="submit"]:hover {
    background-color: #ffffff; /* Nền màu trắng khi hover */
    color: #ffd700; /* Màu vàng khi hover */
}
