
        body {
            margin: 0;
            padding: 0;
            background: url(/assets/img/bg/bg_web1.webp) no-repeat;
            height: 100vh;
            font-family: sans-serif;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
        }

        .changePasswordBox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 350px;
            min-height: 250px; 
            background: #000000;
            border-radius: 10px;
            padding: 40px;
            box-sizing: border-box;
        }

        .changePasswordBox h3 {
            margin: 0;
            padding: 0 0 20px;
            color: #ffcf0f;
            text-align: center;
        }

        .changePasswordBox input {
            width: 100%;
            margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid #262626;
            outline: none;
            height: 40px;
            color: #fff;
            background: transparent;
            font-size: 16px;
            padding-left: 20px;
            box-sizing: border-box;
        }

        .changePasswordBox input:hover {
            color: #ffd21f;
            border: 1px solid #ffd21f;
            box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black;
        }

        .changePasswordBox input:focus {
            border-bottom: 2px solid #fbbc4d;
        }

        .changePasswordBox input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            font-size: 16px;
            background: #ffcf0f;
            color: #fff;
            border-radius: 20px;
            cursor: pointer;
            margin-top: 20px;
        }

        .changePasswordBox .return-link {
            text-align: center;
            margin-top: 10px;
        }

        .changePasswordBox .return-link a {
            color: #ffcf0f;
            text-decoration: none;
        }
        .changePasswordBox .return-link a:hover{
            color: #ffffff;
        }

        .success-msg {
            font-weight: bold;
            color: #006400; 
            margin-bottom: 20px;
            background-color: #aeffaeec; 
            padding:5px;
            border-radius: 2px; 
            text-align: center;
            margin-bottom: 10px;
        }

        .error-msg {
            font-weight: bold;
            color: #ff0000; 
            margin-bottom: 20px; 
            background-color: #ffdad5ef; 
            padding: 5px; 
            border-radius: 2px; 
            text-align: center;
            margin-bottom: 10px; 
        }
